@import "../abstract/constants";

* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: inherit;
}

input {
  border: none;
  color: inherit;
  outline: none;
}

a {
  color: $color-header-title;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.header {
  background: $color-header-background;
  text-align: center;
}

.header_title {
  padding: 20px 0;
}

.header_title__title {
  color: $color-header-title;
}

.hidden {
  display: none !important;
}
