$color-header-background: radial-gradient(circle, #2a2e34, #303a44, #354655, #385365, #396176);
$color-header-title: white;
$color-border-input: #73B5FF;
$color-link: #73B5FF;
$color-swiper-background: #fff;
$color-search-preload: #6CF;
$color-blackout: #2D303A;
$color-movie-decription: #f60;
$color-description-preload: #cef;
