$color-header-background: radial-gradient(circle, #2a2e34, #303a44, #354655, #385365, #396176);
$color-header-title: white;
$color-border-input: #73B5FF;
$color-link: #DDDDAC;
$color-swiper-background: #fff;
