$color-header-background: radial-gradient(circle, #2a2e34, #303a44, #354655, #385365, #396176);
$color-header-title: white;
$color-border-input: #73B5FF;
$color-link: #73B5FF;
$color-swiper-background: #fff;
$color-search-preload: #6CF;
$color-blackout: #2D303A;
$color-movie-decription: #f60;
$color-description-preload: #cef;

//keyboard consts:

$color-text: #BABABA;
$color-background-keyboard-body: #4A76A8;
$color-active: #4A76A8;
$color-default-buttons: black;
$color-buttons: #224B7A;
$color-background: gray;
$color-text-default-buttons: #797B7E;
$color-text-language-buttons: #224B7A;
