@import "../abstract/constants";

.more_information {
  position: absolute;
  bottom: 20%;
  left: 30%;
  z-index: 30;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: $color-swiper-background;
  width: 100vw;
  height: 100vh;
  max-height: 400px;
  max-width: 500px;
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 767px) {
    max-height: 400px;
    max-width: 300px;
    left: 10vw;
  }
}

.more_information a {
  color: black;
}

.more_information a:hover {
  color: $color-link;
}

.movie-description {
  margin: 10px;
}

.title_movie-description {
  margin-top: -30px;
}

.popup_blackout {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background: $color-blackout;
  opacity: .4;
}

.movie-description__titles {
  color: $color-movie-decription;
}

.close_popup {
  position: relative;
  margin-left: 455px;
}



