@import "../abstract/constants";

.description_preload-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_preload {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
}
.description_preload div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 2px;
  border: 9px solid $color-description-preload;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-description-preload transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
