@import "../abstract/constants";

.search_string {
  z-index: 34;
}

.search__form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.search__input {
  position: relative;
  z-index: 20;
  width: 700px;
  margin-top: 3px;
  height: 32px;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: url(../assets/img/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 5px;
  padding-left: 40px;
  padding-right: 85px;
  @media (max-width: 1020px) {
    width: 500px;
  }
  @media (max-width: 767px) {
    width: 350px;
  }
  @media (max-width: 467px) {
    width: 200px;
  }
}

.search__input:focus {
  border: 1px solid $color-border-input;
}


