@import "../abstract/constants";

.search__form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search__input {
  width: 38vw;
  margin-top: 3px;
  height: 32px;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: url("https://img.icons8.com/color/48/000000/search-more.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 5px;
  padding-left: 40px;
}

.search__input:focus {
  border: 2px solid $color-border-input;
}