@import "../abstract/constants";

.swiper-slide {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.swiper-slide:hover {
  cursor: pointer;
  transform: scale(.97);
  transition: all ease-in-out .3s;
}

.slide__title {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  max-height: 30px;
}

.slide__title_link {
  color: black;
  text-overflow: ellipsis;
}

.slide__poster {
  width: 100%;
  height: 100%;
  max-height: 460px;
}

.slide__poster_img {
  width: 100%;
  height: 100%;
}

.slide__year {
  height: 100%;
  width: 100%;
  max-height: 20px;
  margin-bottom: 20px;
}

.slide__rating {
  height: 100%;
  width: 100%;
  max-width: 110px;
  max-height: 20px;
  margin-bottom: 45px;
  background-image: url(../assets/img/imdb.png);
  background-repeat: no-repeat;
  background-size: 31px;
  background-position: 32% 36%;
  padding-left: 40px;
}
