@import "../abstract/constants";

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.slide__title {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  max-height: 30px;
}

.slide__title_link {
  color: black;
}

.slide__poster {
  width: 100%;
  height: 100%;
  max-height: 460px;
}

.slide__poster_img {
  width: 100%;
  height: 100%;
}

.slide__year {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  color: black;
}
