.swiper-container {
  width: 80% !important;
  height: 100% !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 80vh !important;
  width: 20vw !important;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}