@import "../abstract/constants";

.swiper-container {
  width: 82%;
  max-width: 1200px;
  height: 100%;
  @media (max-width: 1200px) {
    max-width: 840px;
  }
  @media (max-width: 966px) {
    max-width: 550px;
  }
  @media (max-width: 640px) {
    max-width: 270px;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 80vh !important;
  width: 25vw;
  background: $color-swiper-background;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {

}

.error_message {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  justify-content: center;
}

.notification_translation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.title_results {
  width: 300px;
}


.slider_movies .swiper-button-prev {
  margin-top: 10vh;
  margin-left: 120px;
  @media (max-width: 767px) {
    display: none;
  }
}

.slider_movies .swiper-button-next {
  margin-top: 10vh;
  margin-right: 120px;
  @media (max-width: 767px) {
    display: none;
  }
}

.slider_movies .swiper-button-next:focus  {
  outline: none;
}

.slider_movies .swiper-button-prev:focus {
  outline: none;
}
