.swiper-container {
  width: 50%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 400px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  margin-top: 100px !important;
}